<nz-layout class="app-layout">
  <nz-header>
    <div class="app-header">
      <div class="actions">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed" nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'">
         </span>
        <button nz-button>New</button>
      </div>
      <div class="actions">
          <span class="header-trigger trigger" nz-icon [nzType]="'setting'" nz-tooltip nzTooltipPlacement="bottom"
                nzTooltipTitle="Settings"></span>
        <span class="header-trigger trigger" nz-icon [nzType]="'user'" nz-tooltip nzTooltipPlacement="bottom"
              nzTooltipTitle="Account"></span>
      </div>
    </div>
  </nz-header>

  <nz-layout>
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              nzTheme="light"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>MARIA</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Requests" nzIcon="dashboard">
          <ul>
            @for (request of requests$(); track $index) {
              <app-request-link [request]="request"></app-request-link>
            }
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Basic Form</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-modal
  [(nzVisible)]="isVisibleMiddle"
  [nzFooter]="null"
  nzTitle="Your account"
  nzCentered
  (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle()"
>
  <ng-container *nzModalContent>
    <h3>Account</h3>
    <div class="section">
      <label class="d-block" for="email">Email</label>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
          <input nz-input type="text" id="email"/>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="section">
      <p>Password</p>
      <button nz-button>Change password</button>
    </div>


    <nz-divider></nz-divider>

    <h3>Profile</h3>
  </ng-container>
</nz-modal>
