<div class="header-section">
  <div class="workspace-picker">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
    <span>
      My workspace
    </span>
  </div>
  <div class="workspace-actions">
    <button mat-mini-fab>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>

    </button>
    <button mat-mini-fab>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="publish"></mat-icon>

    </button>
  </div>
</div>