$bg-primary: #d4aef1;
$spacer: 1rem;

.main-layout {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas: "sidebar cnt";
    grid-template-columns: 2fr 8fr;
    gap: $spacer;

    & app-sidebar {
        grid-area: sidebar;
        height: 100%;
    }

    & .content {
        grid-area: cnt;
        background-color: $bg-primary;
        margin: $spacer;
        padding: $spacer;
        border-radius: $spacer;


    }
}